[submodule "hpctoolkit"]
	path = hpctoolkit
	url = git@github.com:David-Dingle/hpctoolkit_gpa.git
[submodule "GPA-Benchmark"]
	path = GPA-Benchmark
	url = https://github.com/Jokeren/GPA-Benchmark.git
[submodule "torch-monitor"]
	path = torch-monitor
	url = https://github.com/Jokeren/torch-monitor.git
